@import 'fonts.css';

/* Custom properties */

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --green: 137, 151, 75;

  --smaller-font-size: 16px;
  --normal-font-size: 18px;
  --larger-font-size: 22px;

  --light-font-weight: 300;
  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --mid-opacity: .2;

  --default-width: 960px;
  --default-spacing: 18px;

  --aspect-ratio: 1.5;
  --border: 1px solid;
}

/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font: var(--normal-font-weight) var(--normal-font-size) 'Noto Sans', Helvetica, Arial, sans-serif;
}

a {
  color: rgb(var(--green));
  border-bottom: var(--border);
  border-color: rgba(var(--green), var(--mid-opacity));
  text-decoration: none;
  transition-duration: .5s;
}

a:hover, a:focus {
  color: rgb(var(--green));
  border-color: rgba(var(--green), var(--mid-opacity));
  transition-duration: 0s;
  outline: none;
}

p {
  padding-top: .5em;
  font-weight: var(--light-font-weight);
}

h2 {
  font-size: var(--larger-font-size);
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--bold-font-weight);
}

nav, main, footer {
  margin: 0 auto 0;
  max-width: var(--default-width);
}

/* Navigation */

nav {
  padding: 1.5em var(--default-spacing);
  display: flex;
  justify-content: space-between;
}

nav a {
  color: rgb(var(--black));
}

#main-menu, #main-menu ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  line-height: 1.5;
}

#main-menu ul {
  position: absolute;
}

#main-menu li {
  padding-right: 2em;
}

#language-menu {
  font-size: var(--smaller-font-size);
  list-style: none;
  text-align: center;
}

#language-menu .selected {
  background-color: rgba(var(--green), var(--mid-opacity));
  color: rgb(var(--green));
  padding: 0 5px;
  border-radius: 5px;
}

/* Main */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.preview-large a > div, .preview-medium a > div {
  height: 100%;
  width: 100%;
}

.preview-large {
  --max-width: var(--default-width);
}

.preview-medium {
  --max-width: calc((var(--default-width) - var(--default-spacing)) / 2);
}

.preview-large, .preview-medium {
  position: relative;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--default-spacing);
  width: 100%;
  height: calc(100vw / var(--aspect-ratio));
  max-width: var(--max-width);
  max-height: calc(var(--max-width) / var(--aspect-ratio));
}

.details {
  position: absolute;
  bottom: 0;
  padding: var(--default-spacing);
  padding-top: calc(var(--default-spacing) * 7);
  width: calc(100% - var(--default-spacing) * 2);
  color: rgb(var(--black));
  background: linear-gradient(0deg, rgba(var(--white), .95) 30%, rgba(var(--white), 0) 100%);
}

.details p {
  max-width: calc(var(--default-width) * .6);
}

/* Footer */

footer {
  margin-top: calc(var(--default-spacing) * 2);
  font-weight: var(--light-font-weight);
}
