/* Custom properties */

:root {
  --normal-font-size: 18px;

  --normal-font-weight: 400;
  --bold-font-weight: 700;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font: var(--normal-font-weight) var(--normal-font-size) Helvetica, Arial, sans-serif;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--bold-font-weight);
}

/* Section-specific styles */

nav {
  padding: 1.5em 10px;
  display: flex;
  justify-content: space-between;
}

#main-menu, #main-menu ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

#main-menu ul {
  position: absolute;
}

#main-menu li {
  padding-right: 2em;
}

#main-menu li:last-child {
  padding-right: 0;
}

#language-menu {
  list-style: none;
  text-align: center;
}
