@import 'fonts.css';

/* Custom properties */

:root {
  --normal-font-size: 18px;

  --light-font-weight: 300;
  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --default-width: 960px;
  --default-spacing: 18px;
  --aspect-ratio: 1.5;
}

/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  font: var(--normal-font-weight) var(--normal-font-size) 'Noto Sans', Helvetica, Arial, sans-serif;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--bold-font-weight);
}

nav, main, footer {
  margin: 0 auto 0;
  max-width: var(--default-width);
}

/* Navigation */

nav {
  padding: 1.5em var(--default-spacing);
  display: flex;
  justify-content: space-between;
}

#main-menu, #main-menu ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

#main-menu ul {
  position: absolute;
}

#main-menu li {
  padding-right: 2em;
}

#language-menu {
  list-style: none;
  text-align: center;
}

/* Main */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.preview-large a > div, .preview-medium a > div {
  height: 100%;
  width: 100%;
}

.preview-large {
  --max-width: var(--default-width);
}

.preview-medium {
  --max-width: calc((var(--default-width) - var(--default-spacing)) / 2);
}

.preview-large, .preview-medium {
  position: relative;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--default-spacing);
  width: 100%;
  height: calc(100vw / var(--aspect-ratio));
  max-width: var(--max-width);
  max-height: calc(var(--max-width) / var(--aspect-ratio));
}

.details {
  position: absolute;
  bottom: 0;
  padding: var(--default-spacing);
  padding-top: calc(var(--default-spacing) * 5);
  width: calc(100% - var(--default-spacing) * 2);
  color: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, 0) 100%);
}

.details p {
  font-weight: var(--light-font-weight);
  max-width: calc(var(--default-width) * .6);
}

/* Footer */

footer {
  margin-top: calc(var(--default-spacing) * 2);
}
