@import 'fonts.css';

/* Custom properties */

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --gray: 90, 90, 90;
  --green: 137, 151, 75;
  --light-green: 196, 203, 165;

  --smaller-font-size: 16px;
  --normal-font-size: 18px;
  --larger-font-size: 26px;
  --large-font-size: 36px;

  --light-font-weight: 300;
  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --default-width: 960px;
  --default-spacing: 18px;

  --positive-animation-height: var(--default-spacing);
  --negative-animation-height: calc(0px - var(--default-spacing));

  --min-opacity: .15;
  --max-opacity: .7;

  --min-transition-duration: .1s;
  --mid-transition-duration: .2s;
  --max-transition-duration: .5s;

  --large-line-height: 1.7;

  --aspect-ratio: 1.5;
  --border: 1px solid;
  --radius: 5px;

  --nav-height: calc(2em + var(--normal-font-size) * var(--large-line-height));

  --item-padding: .5em;
  --item-position: calc(0em - var(--item-padding));
}

/* General */
/* TODO Consider splitting into components */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: var(--normal-font-size);
  font-weight: var(--light-font-weight);

  /* Disable automatic text scaling on iOS */
  -webkit-text-size-adjust: 100%;
}

a {
  --link-color: var(--green);

  color: rgb(var(--link-color));
  border-bottom: var(--border);
  border-color: rgba(var(--link-color), var(--min-opacity));
  text-decoration: none;
  transition-duration: var(--max-transition-duration);
}

a:hover, a:focus {
  --link-color: var(--green);

  background-color: rgba(var(--link-color), var(--min-opacity));
  transition-duration: var(--min-transition-duration);
  outline: none;
}

p {
  padding-bottom: .5em;
}

h1 {
  padding-top: 1em;
  padding-bottom: .3em;
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--bold-font-weight);
}

nav > div, main, footer {
  margin: 0 auto 0;
  max-width: var(--default-width);
}

main {
  margin-top: var(--nav-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.no-scroll {
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.shadow {
  box-shadow: 0 0 var(--radius) 0 rgb(var(--gray));
}

/* AnimatedSwitch transitions */

.route-appear-active, .route-enter-active, .route-exit-active {
  transition-duration: var(--mid-transition-duration);
}

.route-appear, .route-enter {
  opacity: 0;
  transform: translateY(var(--negative-animation-height));
}

.route-appear-active, .route-enter-active, .route-exit {
  opacity: 1;
  transform: translateY(0);
}

.route-exit-active {
  display: none;
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: rgba(var(--white), 0.95);
  width: 100%;
  height: var(--nav-height);
  font-weight: var(--normal-font-weight);
  line-height: var(--large-line-height);
  overflow: hidden;
  cursor: default;
}

nav a {
  --link-color: var(--black);

  border: none;
}

nav a div span {
  border-bottom: var(--border);
  border-color: rgba(var(--link-color), var(--min-opacity));
}

nav, .main-menu, .language-menu {
  transition-duration: var(--mid-transition-duration);
}

nav > div, .logo, .main-menu, .language-menu {
  display: flex;
  flex-flow: row nowrap;
}

.logo {
  justify-content: space-between;
  align-items: center;
  font-weight: var(--bold-font-weight);
  white-space: nowrap;
  cursor: auto;
}

.logo div {
  margin: auto 0;
  padding: 1em 1em 1em 0;
}

.logo svg {
  display: none;
  padding: var(--item-padding);
  position: relative;
  right: var(--item-position);
  fill: rgb(var(--black));
  cursor: pointer;
}

.main-menu {
  width: 100%;
  list-style: none;
}

.main-menu li div {
  margin: auto 0;
  padding: 1em;
}

.language-menu {
  font-size: var(--smaller-font-size);
  list-style: none;
  letter-spacing: 1px;
}

.language-menu li div {
  --padding-top: calc(2 * var(--normal-font-size) - var(--smaller-font-size));

  position: relative;
  right: var(--item-position);
  margin: auto 0;
  padding: var(--padding-top) var(--item-padding) var(--normal-font-size);
}

.selected {
  color: rgb(var(--green));
}

/* Footer */

footer, .social {
  display: flex;
  align-items: flex-start;
}

footer {
  flex-flow: column nowrap;
  color: rgb(var(--gray));
  padding-top: var(--item-padding);
  padding-bottom: 3em;
  line-height: var(--large-line-height);
}

.social {
  flex-flow: row nowrap;
  padding-top: var(--item-padding);
  position: relative;
  left: var(--item-position);
}

.social a {
  border: none;
  background: none;
  fill: rgb(var(--light-green));
}

.social a:hover {
  fill: rgb(var(--green));
}

.social svg {
  padding: var(--item-padding);
}

/* Previews */

main.previews {
  flex-flow: row wrap;
}

.preview.large {
  --max-width: var(--default-width);
}

.preview.medium {
  --max-width: calc((var(--default-width) - var(--default-spacing)) / 2);
}

.preview.large, .preview.medium {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: var(--default-spacing);
  width: 100%;
  height: calc(100vw / var(--aspect-ratio));
  max-width: var(--max-width);
  max-height: calc(var(--max-width) / var(--aspect-ratio));
  overflow: hidden;
  transition-duration: var(--max-transition-duration);
}

.preview a {
  display: block;
  height: 100%;
  width: 100%;
  background-color: initial;
}

.preview a::after {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition-duration: var(--max-transition-duration);
}

.preview a:focus::after {
  box-shadow: inset 0 0 var(--default-spacing) rgba(var(--black), var(--min-opacity));
  transition-duration: var(--min-transition-duration);
}

.preview a img {
  width: 100%;
  transition-duration: var(--max-transition-duration);
}

.preview a .details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  bottom: var(--negative-animation-height);
  padding: var(--default-spacing);
  padding-top: calc(var(--default-spacing) * 7);
  width: calc(100% - var(--default-spacing) * 2);
  color: rgb(var(--black));
  background: linear-gradient(0deg, rgba(var(--white), var(--max-opacity)) 0%, rgba(var(--white), 0) 100%);
  transition-duration: var(--max-transition-duration);
}

.preview a:hover .details {
  opacity: 1;
  bottom: 0;
  transition-duration: var(--min-transition-duration);
}

.preview .details h2 {
  margin-right: var(--default-spacing);
}

.preview.desaturated {
  filter: grayscale(100%);
}

.preview.focused a img {
  transform: scale(1.01);
}

/* Contacts */

.contacts {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 1em;
  font-size: var(--larger-font-size);
  text-align: center;
}

.contacts a {
  position: relative;
  display: block;
  margin-bottom: .5em;
  padding: .2em .4em;
}

.contacts a svg {
  position: relative;
  top: .1em;
  left: -.1em;
  fill: rgb(var(--green));
}

.requisites {
  display: grid;
  grid-template-columns: min-content auto;
  margin-bottom: 1em;
  line-height: var(--large-line-height);
}

.requisites .key {
  color: rgb(var(--gray));
  white-space: nowrap;
  padding-right: 2em;
}

/* Adaptive styles for touch devices */

@media (hover: none) {}

/* Adaptive styles for smaller screens and windows */

@media only screen and (max-width: 996px) {

  :root {
    --default-width: 996px;
  }

  nav > div, main > h1, main > p, .contacts, .requisites, footer {
    padding-right: var(--default-spacing);
    padding-left: var(--default-spacing);
  }

  .preview.medium {
    --max-width: var(--default-width);
  }
}

@media only screen and (max-width: 720px) {

  nav.maximized {
    height: 100%;
    overflow: auto;
    background-color: rgb(var(--white));
  }

  nav > div {
    flex-wrap: wrap;
  }

  .logo, .language-menu {
    width: 100%;
  }

  .logo svg {
    display: initial;
  }

  .main-menu {
    flex-direction: column;
  }

  .main-menu.maximized, .language-menu.maximized {
    opacity: 1;
  }

  .main-menu.minimized, .language-menu.minimized {
    visibility: hidden;
    opacity: 0;
  }

  .main-menu li div {
    padding: .5em 0;
  }

  .language-menu {
    margin-top: 1em;
  }

  .language-menu li div {
    left: var(--item-position);
    padding: var(--item-padding);
  }

  .requisites {
    grid-template-columns: auto;
  }

  .requisites .value {
    padding-bottom: .5em;
  }
}
