@import 'fonts.css';

/* Custom properties */

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --green: 137, 151, 75;

  --smaller-font-size: 16px;
  --normal-font-size: 18px;
  --large-font-size: 36px;

  --light-font-weight: 300;
  --normal-font-weight: 400;
  --bold-font-weight: 700;

  --default-width: 960px;
  --default-spacing: 18px;
  --default-animation-height: calc(0px - var(--default-spacing));

  --min-opacity: .15;
  --max-opacity: .7;

  --min-transition-duration: .1s;
  --mid-transition-duration: .2s;
  --max-transition-duration: .5s;

  --aspect-ratio: 1.5;
  --border: 1px solid;
  --radius: 5px;

  --nav-line-height: 1.5;
  --nav-height: calc(2em + var(--normal-font-size) * var(--nav-line-height));
}

/* General */
/* TODO Consider splitting into components */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);

  /* Disable automatic text scaling on iOS */
  -webkit-text-size-adjust: 100%;
}

a {
  color: rgb(var(--black));
  border-bottom: var(--border);
  border-color: rgba(var(--black), var(--min-opacity));
  text-decoration: none;
  transition-duration: var(--max-transition-duration);
}

a:hover, a:focus {
  color: rgb(var(--green));
  border-color: rgba(var(--green), var(--min-opacity));
  transition-duration: var(--min-transition-duration);
  outline: none;
}

p {
  padding-top: .5em;
  font-weight: var(--light-font-weight);
}

h1 {
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
}

h2 {
  font-size: var(--normal-font-size);
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--bold-font-weight);
}

nav > div, main, footer {
  margin: 0 auto 0;
  max-width: var(--default-width);
}

footer {
  font-size: var(--smaller-font-size);
  padding-top: 1em;
  padding-bottom: 3em;
}

.no-scroll {
  overflow: hidden;
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: rgb(var(--white));
  width: 100%;
  height: var(--nav-height);
  line-height: var(--nav-line-height);
  overflow: hidden;
  cursor: default;
}

nav > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

nav > div, .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: var(--bold-font-weight);
  white-space: nowrap;
  cursor: auto;
}

.logo img {
  display: none;
  cursor: pointer;
}

.logo div, .main-menu li {
  margin-right: 2em;
}

.main-menu {
  width: 100%;
}

.main-menu, .submenu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.main-menu > li {
  position: relative;
}

.submenu {
  position: absolute;
  font-weight: var(--light-font-weight);
  z-index: 10;
}

.submenu li {
  position: relative;
}

.language-menu {
  display: flex;
  font-size: var(--smaller-font-size);
  list-style: none;
  letter-spacing: 1px;
}

.language-menu li {
  margin-right: .5em;
}

.language-menu li:last-child {
  margin-right: 0;
}

.selected {
  color: rgb(var(--green));
}

/* Main */

main {
  margin-top: var(--nav-height);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.preview.large {
  --max-width: var(--default-width);
}

.preview.medium {
  --max-width: calc((var(--default-width) - var(--default-spacing)) / 2);
}

.preview.large, .preview.medium {
  position: relative;
  border-radius: var(--radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: var(--default-spacing);
  width: 100%;
  height: calc(100vw / var(--aspect-ratio));
  max-width: var(--max-width);
  max-height: calc(var(--max-width) / var(--aspect-ratio));
  overflow: hidden;
  transition-duration: var(--max-transition-duration);
}

.preview a {
  display: block;
  height: 100%;
  width: 100%;
}

.preview a:focus {
  box-shadow: inset 0 0 var(--default-spacing) rgba(var(--black), var(--max-opacity));
}

.preview .details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  bottom: var(--default-animation-height);
  padding: var(--default-spacing);
  padding-top: calc(var(--default-spacing) * 7);
  width: calc(100% - var(--default-spacing) * 2);
  color: rgb(var(--black));
  background: linear-gradient(0deg, rgba(var(--white), var(--max-opacity)) 0%, rgba(var(--white), 0) 100%);
  transition-duration: var(--max-transition-duration);
}

.preview .details h2 {
  margin-right: var(--default-spacing);
}

.preview .details.visible {
  opacity: 1;
  bottom: 0;
  transition-duration: var(--min-transition-duration);
}

.preview.desaturated {
  filter: grayscale(100%);
}

.preview.focused {
  transition-duration: var(--min-transition-duration);
  filter: none;
}

/* Adaptive styles for touch devices */

@media (hover: none) {}

/* Adaptive styles for smaller screens and windows */

@media only screen and (max-width: 996px) {

  :root {
    --default-width: 996px;
  }

  nav > div, main > h1, footer {
    padding-right: var(--default-spacing);
    padding-left: var(--default-spacing);
  }

  .preview.large, .preview.medium {
    border-radius: 0;
  }

  .preview.medium {
    --max-width: var(--default-width);
  }
}

@media only screen and (max-width: 720px) {

  nav, .main-menu, .language-menu {
    transition: var(--mid-transition-duration);
  }

  nav.maximized {
    height: 100%;
    overflow: auto;
  }

  nav > div {
    flex-wrap: wrap;
  }

  .logo, .language-menu {
    width: 100%;
  }

  .logo img {
    display: initial;
  }

  .main-menu {
    margin-top: .5em;
  }

  .main-menu, .submenu {
    flex-direction: column;
  }

  .main-menu.maximized, .language-menu.maximized {
    opacity: 1;
  }

  .main-menu.minimized, .language-menu.minimized {
    visibility: hidden;
    opacity: 0;
  }

  .main-menu li {
    margin-top: .2em;
    margin-right: 0;
  }

  .main-menu > li:first-child {
    margin-top: 0;
  }

  .submenu {
    position: static;
    margin-bottom: .5em;
  }

  .language-menu {
    margin-top: 1em;
  }
}
